.chats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .chat {
      flex-basis: 50%;
      margin: 5em;
      padding: 1em;
      border: 1px solid goldenrod;
      background-color: tan;
  }