.chats {
    display: flex;
      flex-grow: 7em;
      max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .chat {
      flex-basis: 50%;
      background-color: tan;
      margin: 1em;
      padding: 1em;
      max-height: 5em;
  }
  .chatContainer{
      max-height: 5em;
  }