.games {
  text-align: center;
    display: flex;
      flex-grow: 7em;
      max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: tan;
  }
  
  .game {
    text-align: center;
      flex-basis: 20%;
      margin: 0em;
      padding: 0em;
  }